<div class="clear-absolute"></div>
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Your Profile</h1>
    <p class="lead">Find your personal infos & the events you're administrating</p>

  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <%=link_to 'Home', root_path %>
      </li>
      <li class="breadcrumb-item active">Profile</li>
  </ol>

  <!-- Contact Detail Column -->
  <div class="row">
      <div class="col-lg-4">
        <%= current_user_avatar %>
      </div>
      <div class="col-lg-8">
        <h2>Your personal infos:</h2>
        <ul>
          <li><b>Username:</b> <%= @user.username %></li>
          <li><b>First name:</b> <%= @user.first_name %></li>
          <li><b>Last name:</b> <%= @user.last_name %></li>
          <li><b>Description:</b> <%= @user.description %></li>
          <li><b>Email:</b> <%= @user.email %></li>
        </ul>
        <h4>Edit your account:</h4>
          <%= link_to 'Edit Personal infos', edit_user_path, class:'btn btn-primary'%>    
          <%= link_to 'Edit Password & Email', edit_user_registration_path, class:'btn btn-danger'%>    
      </div>
  </div>

  <h2>Events you're administrating:</h2>
  <%= render partial: "events/event_card_list", locals: { events: @administrated_events, display_status: true } %>
 
  <div class="text-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
