<div class="container">
  <div role="main">
    <div class="starter-template">
      <h1>Events <%= @event.title %></h1>
      <p class="lead"> <%= @event.description %></p>
    </div>
  </div>

  <section>
    <h2>Event Details:</h2>
    <ul>
      <li>N° of participants: <%= @event.participants.count %></li>
      <li>Administrator: <%= @event.administrator.first_name %></li>
      <li>Starting: <%= @event.starting_date %></li>
      <li>Ending: <%= @event.ending_date %></li>
      <li>Location: <%= @event.location %></li>
      <li>Price: <%= @event.price %></li>
    </ul>
  </section>
</div>