<div class="container">
  <div role="main">
    <div class="starter-template">
      <h1>Events <%= @event.title %></h1>
      <p class="lead"> <%= @event.description %></p>
    </div>
  </div>

  <section>
    <h2>Event Details:</h2>
    <ul>
      <li>N° of participants: <%= @event.participants.count %></li>
      <li>Administrator: <%= @event.administrator.username %></li>
      <li>Starting: <%= @event.starting_date_time %></li>
      <li>Ending: <%= @event.ending_date_date_time %></li>
      <li>Location: <%= @event.location %></li>
      <li>Price: <%= pretty_amount(@amount) %></li>
    </ul>
  </section>
  <%= render partial: 'events/shared/participation_link', locals: {event: @event} %>
</div>